  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/Escudo_de_Chaclacayo.png" alt="" width="55" height="auto" >
        <img src="/assets/chaclacayo.png" alt="" width="50" height="auto">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navg " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 fw-bolder">
          <li class="nav-item "  routerLinkActive="active" autocomplete="off" checked >
            <a class="nav-link " routerLink="home "  >
                <span class="ico" ><img src="./assets/Inicio.png" alt="" width="18" ></span><span class="atext">Inicio</span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link "  href="#reque">
            <span class="ico"> <img  src="./assets/requisitos.png" alt="" width="18"></span><span class="atext">Requisitos</span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  href="#format">
            <span class="ico"> <img  src="./assets/formato.png" alt="" width="18"></span><span class="atext">Formatos</span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  href="#Orgn">
            <span class="ico"><img  src="./assets/org.png" alt="" width="18"></span><span class="atext">Organizaciones</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active" autocomplete="off">
            <a class="nav-link" routerLink="componente3">+ Solicitud</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link border border-white border-2  rounded-3" routerLink="/componente4">Iniciar sesión</a>
          </li>
          <li class="regit nav-item " routerLinkActive="active">
            <a class="regi nav-link text-dark " routerLink="componente5">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>







  </nav>


  
  
