

<div
class="login border-top  p-5 rounded-5  justify-content-center text-secondary shadow"

>

<div class="text-center  fs-1 fw-bold text-white">Inciar sesion</div>
<div class="input-group mt-4">

</div>
  
  <div class="">
    <p class="text-white">Correo electronico : </p>
  <input

    class="form-control text-white"
    type="text"
    placeholder="Username"
  />

<div class="">
  <p class="text-white">contraseña: </p>
  <input
    class="form-control bg-light"
    type="password"
    placeholder="Password"
  />
</div>
</div>

<div class="d-flex justify-content-around mt-1">
  <div class="d-flex align-items-center gap-1">
    <input class="form-check-input" type="checkbox" />
    <div class="pt-1 text-white" style="font-size: 0.9rem">Recuerdame</div>
  </div>
  <div class="pt-1">
    <a
      href="#"  
      class="text-decoration-none text-white text-info fw-semibold fst-italic"
      style="font-size: 0.9rem"
      >Olvidaste tu contaseña?</a
    >
  </div>
</div>
<div class="boton btn btn text w-100 mt-4 fw-semibold shadow-sm "  routerLink="/inicio-admin">Login</div>
<div class="d-flex text-white gap-1 justify-content-center mt-1">
  <div>No eres miembro?</div>
  <a href="#" class="text-decoration-none text-white text-info fw-semibold" routerLinkActive="active" routerLink="trabajadorCOMP"
    >Registrarme</a>
</div>


</div>