<app-navbar></app-navbar>
<section class="Tl" >
<br>
    <img src="/assets/TITULO.svg" alt="" width="500" height="auto">
 </section>

<header class="header">
<br>
<br>
 <main class="Deq d-flex">
  <p class="imp2">
    <img src="./assets/Tri01.png" alt="" width="100" >
  </p>
  <p>
    <img src="./assets/Deq.png" alt="" width="225" class="me-3">
  </p>
    <section class="St  mx-auto " id="" >      
        <div class="container  ">      
          <div class="d-flex ">
                <div>
                  <a class="btn-RS btn-lg disabled " >¿De que trata?</a>
                  <p class="tex">Es un registro organizaciones sociales para ejercer el derecho a la
                    participacion ciudana y registrado por el representante de la organización
                    a traves de las formas y mecanismos legales existentes. Dentro de lo 
                    establecido en la Ordenanza 1706, se describen los requisitos y el
                    procedimiento para el reconocimiento de las organizaciones sociales
                    y sus representantes, asi como los actos que se realicen con posteridad
                    a su inscripcion.</p>
                </div>
      
              </div>
        </div>
    </section>

    <p>
      <img src="./assets/Tri02.png" alt="" width="100" >
    </p>
  </main>
  <br>
<br>


  <main class="Req d-flex"  >
    <section class="QS mx-auto "  id="reque" >
      <div class="container  " >      
        <div class="d-flex  fs-5  ">
              <div class="rqs" >
                <a class="btn-RS btn-lg disabled " >Requisitos</a>
                <ul class="sts">
                  <li>Solicitud para el registro nuevo de organización.</li>
                  <li>Acta de fundación o de Constitución</li>
                  <li>Estatuto y Acta de aprobación</li>
                  <li>Acta de elección del Órgano Directivo</li>
                  <li>Nómina de los miembros del órgano directivo</li>
                  <li>Nómina de los miembros de la Organización Social</li>
                </ul>
              </div>
              <p class="im3">
                <img src="./assets/REQ.png" alt="" width="220" >
              </p>
            </div>
      </div>
      
    </section>

  </main> 
<br>
<br>
  <main class="For d-flex">
    <p class="im4">
      <img src="./assets/Tri03.png" alt="format" width="100" >
    </p>
    <section class="Tb w-auto mx-auto" id="format" >
        <div class="container px-5 ">          
          <div >
            <div class="Tlt d-flex justify-content-center">
              <a class="btn-RS btn-lg disabled" >Formatos</a>
            </div>
            
            <p class="text-center">Documentos  necesario para registrar tu organización social</p>
            
            <table class="table content-table text-center">
              <thead class="En ">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre de los Formatos</th>
                  <th  scope="col">Formato</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row ">1</td>
                  <td>Acta de fundación o de Constitución.</td>
                  <td >
                    <a  class="d-flex justify-content-center" href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td>Estatuto y Acta de aprobación.</td>
                  <td ><a  class="d-flex justify-content-center" href="#">
                    <img src="./assets/pdf.png" alt="" width="30"></a>
                  </td>

                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td >Acta de elección del Órgano Directivo.</td>
                  <td ><a  class="d-flex justify-content-center" href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td>
                  
                </tr>
                
                <tr>
                  <td scope="row">6</td>
                  <td >Nómina de los miembros del órgano directivo</td>
                  <td ><a  class="d-flex justify-content-center" href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td>
                  
                </tr>
                <tr>
                  <td scope="row">7</td>
                  <td >Nómina de los miembros de la Organización Social</td>
                  <td ><a  class="d-flex justify-content-center" href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </section>
    <p class="im5">
      <img src="./assets/Tri04.png" alt="" width="100" >
    </p>
  </main>

  <br>
<br>

  <main class="Org d-flex">
    <p class=" im7 ">
      <img src="./assets/Tri05.png" alt="" width="100" >
    </p>
    <section class="QS w-auto mx-auto p-4 justify-content-center" id="Orgn" >
        <div class="container ">          
          <div class="row">
            <div class=" d-flex justify-content-center">
              <a class="btn-RS btn-lg disabled" >Organizaciones</a>
            </div >

            <form class="row  align-items-center p-4">
              <div class="row">
                <div class="col-sm">
                  <input type="search" class="form-control rounded-pill " placeholder="Ingrese el nombre de su organización" aria-label="Search">
                </div>
                <div class="col-sm">
                  <input type="search" class="form-control rounded-pill" placeholder="Ingrese el codigo de su organizació" aria-label="Search">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-outline-muted rounded-pill text-white bg-dark" href="#" >BUSCAR</button>
                </div>
              </div>
              
            </form>

            <br>
            
            <table class="TbOr table ">
              <thead class="EW ">
                <tr>
                  <th scope="col">Número de Expediente</th>
                  <th scope="col">Nombre de
                    Organización</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Zona</th>
                  <th scope="col">Nivel</th>
                  <th scope="col">Informe Tecnico</th>
                  <th scope="col">Resolucion de 
                    Reconocimiento</th>
                  <th scope="col">Credencial</th>
                </tr>

              </thead>
                <tbody class="bo text-center">
                  <tr >
                  <td scope="row">001-456-FT</td>
                  <td>Salvador</td>
                  <td>Vecinal</td>
                  <td>La Floresta</td>
                  <td>Primario</td>
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a   href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr>

                <tr>
                  <td scope="row">WE3-40Y-T0</td>
                  <td>Alfa</td>
                  <td>Org. Juvenil</td>
                  <td>Huscata</td>
                  <td>Secundario</td>
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr>
                
                <tr>
                  <td scope="row">874-j46-QR</td>
                  <td>Vencedores</td>
                  <td>Deportivo</td>
                  <td>Ñaña</td>
                  <td>Primario</td>
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr> 

                <tr>
                  <td scope="row">BH9-432-05</td>
                  <td>friendly</td>
                  <td>Org. Juvenil</td>
                  <td>Miguel Grau</td>
                  <td>Secundario</td>
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a   href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr>
                <tr>
                  <td scope="row">FR6-12Y-12</td>
                  <td>Winners</td>
                  <td>Vecinal</td>
                  <td>Los Halcones</td>
                  <td>Primario</td>
                  <td ><a  href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a   href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                  <td ><a   href="#">
                    <img  src="./assets/pdf.png" alt="" width="30"></a>
                  </td> 
                </tr>
              </tbody>
            </table>
            <br>
          
            <p class="im9 text-center">
              <img src="./assets/publi.png" alt="" width="685" >
            </p>   
          </div>
              </div>
    </section>
    <p class="im6">
      <img src="./assets/Tri06.png" alt="" width="100" >
    </p>
  </main>

  <br>
<br> 
</header>

<app-footer></app-footer>


